@import url("sections/header/nav.css");
@import url("sections/header/hero.css");
@import url("sections/menu.css");
@import url("sections/footer.css");

/* :root{

} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
body{
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.text__orange{
  color:#eea539;
}
.text__bolder{
  font-weight: bolder;
}
h2{
  font-size: 3rem;
  font-weight: bold;
}
h4{
  font-size:2em;
  color: white;
  

} 
.light__text{
  color:lightgray;
  font-size: 20px;
}



