.footer{
    background-color: black;
    margin:0 auto;
    width:99%;
    margin-top:150px; 
    flex: 1;
}
.footer__container{
  display: flex;
    justify-content: space-around;
    width:90%;
}
.footer__menu ul li{
padding: 10px;
  font-size: 1.2rem;
}
.footer__menu ul li:hover {
    cursor:pointer;
    font-size: 1rem;
    color:#eea539;  
  }
  .footer__menu li {
    color:#fff;
    list-style-type: none;
  }
  .footer h4{
    justify-content: space-between;
    line-height:2em;
  }
  .footer__logo __left{
    padding-right:8rem;
  }
  
  .footer__logo{
    padding-top: 30px;
  }
.footer__right__form{
     display: flex;
    border: 3px solid black;
    }
  .footer input{
    padding: 2rem 10rem;
      border-radius: 7px 0 0 7px;
   }
  .footer button{
    padding:2em 4em;
    background-color: #eea539;
    border-radius: 0 7px 7px 0;
  }
  