.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
  }
  
.nav-left {
    margin-top: 20px;
}
  

.navigation ul li {
  list-style-type: none;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 4em;
}
.navigation ul li {
  font-size: 12px;
  }


.navigationImage {
  display: flex;
  gap: 4em;
}
.navigation ul :first-child {
  /* border: 0.5px solid white; */
  background-color:#EEA539;
  /* border-radius: 4px; */
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 414px) {
  .nav-left img {
    width: 20px;
  }
}
