.text__orange__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.text__orange button {
  align-items: center;
}
/* 
.text__orange__menu h2 {
  margin-bottom: 1.5em;
} */

.menu__li {
  margin-top: 3em;
}
.menu__li ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
  list-style: none;
}

.menu__li ul li {
  padding-bottom: 2em;
}

.menu__li ul li:hover {
  /* border-bottom: 3px solid #eea539; */
  /* color: #eea539; */
  cursor: pointer;
  padding-bottom: 1.87em;
}

.menu__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  text-align: center;
}
.menu__item{
  width: 20%;
}

.menu__item__content {
  background-color: #f4f7fb;
  padding: 9em 0 4em 0;
  margin-top: -9em;
}

.menu__item__content p:not(:nth-child(2)) {
  font-weight: bold;
  font-size: 1.4em;
}
.menu__item__content p:nth-child(2){
  font-size: 1.4em;
 
}

.menu__item__button{
  margin-top: -2em;
}

.menu__item__button button {
  background-color: black;
  color: white;
  padding: 1em 4em;
  font-size: 1.2rem;
  border: none;
  font-weight: bold;
}

.button__viewMore {
  text-align: center;
  margin: 3em 0;
}
.button__viewMore button {
  padding: 1rem 4rem;
  background-color: #eea539;
  color: white;
  font-size: 1.5em;
  border-radius: 7px;
  border: none;
}

.active{
  border-bottom: 3px solid #eea539;
  color: #eea539;
}




/* Media Queries */
@media screen and (max-width: 890px) {
}
