.text__orange__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.text__orange button {
  align-items: center;
}

.text__orange__menu h2 {
  margin-bottom: 1.5em;
}
.menu__li ul li:hover {
  border-bottom: 3px solid #eea539;
  color: #eea539;
  cursor: pointer;
}

.menu__li {
  border-bottom: 1px solid black;
}
.menu__li ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 6em;
  font-weight: bold;
  margin: 0 auto;
  font-size: 2em;
}

.menu__li ul li {
  padding: 1em;
}
.menu__li ul {
  list-style: none;
}
.menu__images {
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.menu__images {
  background-color: aliceblue;
}
.menu__images img {
  border-radius: 60%;
}
.menu__amount__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  text-align: center;
}
.menu__amount__container p{
  font-weight: bold;
  font-size: 2em;
}
.button__viewMore {
  text-align: center;
}
.button__viewMore button {
  padding: 0.5rem 3rem;
  background-color: #eea539;
  color: white;
  font-size: 2em;
  border-radius: 10px;
  border: none;
}
.menu__amount__container button {
  background-color: black;
  color: white;
  padding: 1em 0.5em;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}
.why__menu__left {
  flex: 1;
  background: url("../../images/why-us.png") no-repeat top left/contain;
}
.why__menu__right h2{
margin:2px ;
}
.menu__images {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.why__menu__section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #f4f7fb;
  padding: 1em 2.9em;
}
.why__menu__image {
  display: flex;
  background-color: #fff;
  align-items: center;
  width: 80%;
  height: 20vh;
  padding: 5em;
}
.why__menu__container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}
.why__menu__image img {
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  align-items: center;
}
.menu__help{
  text-align: center;
}
.menu__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.arrow__image {
  display: flex;
  gap: 1rem;
  color: black;
}
.menu__contact__image {
  display: flex;
  flex-direction: column;
  background-color: #f4f7fb;
  text-align: center;
  padding:0 10em ;
  line-height: 1.5em;
  
}

.menu__contact__image div:first-child{
  width: 100px;
  height: 100px;
  background-color:#f4f7fb;
  margin-top: -20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Media Queries */
@media screen and (max-width: 890px){
  
}