.hero {
  margin: 4em 0 12em 0;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__content__left {
  width: 50%;
}
.hero__content__left__container {
  width: 80%;
}

.hero__content__left h1 {
  font-size: 5rem;
}
.hero__content__left__container h1 + p {
  font-size: 1.3rem;
}

.hero__content__left p {
  line-height: 1.5;
}
.hero__search {
  box-shadow: 0 0 5px lightgray;
  margin: 2em 0;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  border-radius: 7px;
}
.hero__search form {
  display: flex;
  width: 100%;
}
.hero__search input {
  border: none;
  outline: none;
  width: 75%;
  padding: 2em 0;
  font-size: 1em;
}
.hero__search__button {
  background-color: black;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 7px 7px 0;
}
.hero__search__button button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.hero__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 4em;
}
.hero__cards__container {
  background-color: #f4f7fb;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2em 0;
  border-radius: 7px;
}
.hero__cards__container p {
  font-size: 1.4rem;
  font-weight: bold;
}
.hero__cards__image {
  background-color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.hero__content__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.content__right__img {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 890px) {
  .hero__content__right {
    display: none;
  }
  .hero__content__left {
    width: 100%;
  }
  .hero__content__left__container {
    width: 100%;
  }
  .hero__content__left h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .hero h4 {
    font-size: 1em;
  }

  .hero__cards{
    flex-direction: column;
  }
}
