.nav {
  background-color: #F4F7FB;
  padding: 1.5em 0;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu ul {
  display: flex;
  gap: 1em;
  
}

.nav__menu li {
  list-style-type: none;
  font-size: 1rem;
  padding: 1em;
}
.nav__menu ul li a{
  text-decoration: none;
  color: black;
}

.nav__icons {
  display: flex;
  gap: 2em;
}
.cartcounter{
  position: relative;
}
.counter{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #eea539;
  position: absolute;
  top:-10px;
  left: 6px;;
}

.nav__menu li:hover {
  background: #eea539;
  color: #fff;
  
}
.nav__menu li:hover a{
  color: #fff;
}

.humberger {
  display: none;
}
.cart-products{
  display:flex;
}
.subtotals-container{
  display: flex;
}
@media screen and (max-width: 890px) {
  .nav{
    background-color: aqua;
  }
  .nav__logo img{
    width: 100%;
  }
  .nav__menu {
    display: none;
  }
  .humberger {
    display: block;
  }
 
  
}

