.nav {
  background-color: #F4F7FB;
  padding: 1.5em 0;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu ul {
  display: flex;
}

.nav__menu li {
  list-style-type: none;
  font-size: 1rem;
}
.nav__icons {
  display: flex;
  gap: 2em;
}
.nav__menu li {
  padding: 1em 2em;
}
.nav__menu li:hover {
  background: #eea539;
  color: #F4F7FB;
  cursor:pointer;
}
.humberger {
  display: none;
}
@media screen and (max-width: 415px) {
  .nav{
    background-color: aqua;
    width: 100%;
  }
  .nav__menu {
    display: none;
  }
  .humberger {
    display: block;
  }
 
  
}

